@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "./theme.css";
@import "./layout.css";
@import "./components.css";

@import "./dashboard.css";
@import "./account.css";
@import "./movement.css";
@import "./login.css";
@import "./history.css";

body {

    margin: 0;

    background: var(--bg);

    color: var(--text);

    font-family: Inter, system-ui, sans-serif;

}